/* Bar */
.topbar {
    border-bottom: 4px solid var(--frappe_lavander) !important;
}

.topbar #machinebutton {
    background-color: var(--frappe_lavander) !important;
}

.topbar #cupbutton {
    background-color: var(--white) !important;
}

.topbar #cupbutton:hover {
    background-color: rgba(0,0,0,.03) !important;
}

/* Rail segments */
div.ui.segment {
    border: none;
    box-shadow: none;
    padding: 0;
}

/* examples */
div.ui.segment.example {
    border: 1px solid rgba(34,36,38,.15);
    box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
}

div.ui.segment.example > span {
    font-weight: bold;
}

/* Emulator */
iframe#emulator {
    min-height: 610px;
    width: 100%;
    zoom: 0.9;
    -moz-transform: scale(0.9);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.9);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(0.9);
    -webkit-transform-origin: 0 0;
    margin-left: 5%;
}

/* Examples */
div .list.examples img {
    margin-bottom: 25px;
}