{%- include functions.html func='log' level='debug' msg='Get banner_html value' -%}
{% assign name = 'banner_html' %}
{%- include functions.html func='get_value' -%}
{% assign banner_html = return %}

{%- include functions.html func='log' level='debug' msg='Get heading value' -%}
{% assign name = 'heading' %}
{%- include functions.html func='get_value' -%}
{% assign heading = return %}

{%- include functions.html func='log' level='debug' msg='Get subheading value' -%}
{% assign name = 'subheading' %}
{%- include functions.html func='get_value' -%}
{% assign subheading = return %}

{%- include functions.html func='get_banner' -%}

{%- if has_banner -%}
  {%- if banner_background -%}
  <style>
    html .page-banner {
      background: {{ banner_background }};
    }
  </style>
  {%- endif -%}
  {%- if banner_height -%}
  <style>
    {%- assign num = banner_height | times: 1 -%}
    {%- assign unit = banner_height | replace_first: num -%}
    {%- assign banner_min_height = banner_min_height | default: banner_height -%}
    html .page-banner {
      height:  {{ banner_height | times: 0.368 | append: unit }};
      min-height: {{ banner_min_height }};
    }
    html[data-scroll-status="top"] .page-banner {
      height: {{ banner_height }};
    }
  </style>
  {%- endif -%}

  {%- if banner_opacity -%}
  <style>
    html .page-banner .page-banner-img > *:first-child {
      opacity: {{ banner_opacity }};
    }

    html[data-theme="dark"] .page-banner .page-banner-img > *:first-child {
      opacity: {{ banner_opacity | times: 0.718 }};
    }
  </style>
  {%- endif -%}
  {%- if banner_heading_style -%}
  <style>
    html .page-banner .page-banner-inner > *:first-child > *:nth-child(1) {
      {{ banner_heading_style }}
    }
  </style>
  {%- endif -%}
  {%- if banner_subheading_style -%}
  <style>
    html .page-banner .page-banner-inner > *:first-child > *:nth-child(2) {
      {{ banner_subheading_style }}
    }
  </style>
  {%- endif -%}
  <section class="page-banner">
    <div class="page-banner-img">
      {%- if banner_video -%}
        <video
          autoplay=""
          poster="{{ banner_image }}"
          playsinline
        >
          <source src="{{ banner_video }}">
        </video>
        <script>
          (function() {
            var video = document.querySelector('.page-banner .page-banner-img > video');
            var videoPlay = function() {
              video.play().catch (function() {
                  video.muted = true;
                  video.play();
                });
            }

            video.onloadstart = function() {
              video.currentTime = {{ banner_start_at }};
              video.volume = {{ banner_volume }};
              video.muted = (video.volume == 0);
              videoPlay();
            }

            video.onended = function() {
              video.currentTime = {{ banner_start_at }};
              video.volume = 0;
            {%- if banner_loop -%}
              video.play();
            {%- endif -%}
            }
          })();
        </script>
      {%- else -%}
        <div style="background-image: url({{ banner_image }})"></div>
        <img class="img-placeholder" src="{{ banner_image }}">
      {%- endif -%}
    </div>
    <div class="wrapper">
      <div class="page-banner-inner">

        {%- if banner_html -%}

        {%- assign banner_html = 'views/' | append: banner_html -%}
        {%- include {{ banner_html }} -%}

        {%- else -%}

          <div class="page-banner-default">
            <h1 class="page-banner-heading">
              {{ heading | default: page.title | escape }}
            </h1>
            <h2 class="page-banner-subheading">
              {{ subheading | default: page.subtitle | escape }}
            </h2>
          </div>

        {%- endif -%}
      </div>
    </div>
  </section>
{%- endif -%}

<!-- info bar -->
<div class="topbar ui attached stackable menu">
  <div class="ui container">
    <div class="left item _780moreviewport">
      <img class="ui tiny centered image" id="unipilogo" src="https://cdn.jsdelivr.net/gh/msetzu/marpee@latest/assets/imgs/logos/unipi/SVG/cherubino_only.svg">
      <p>Università di Pisa</p>
    </div>

    <a class="right item" href="{{ site.baseurl }}/" id="home">
      <i class="home icon"></i> Home
    </a>
    <a class="right item" href="{{ site.baseurl }}/machine" id="machinebutton">
      <i class="fa-regular fa-microchip icon"></i> La Macchina
    </a>
    <a class="right item _780lessviewport" href="cup#registration">
      <i class="fa-regular fa-pen-to-square icon"></i> Registrazione
    </a>
    
    <!-- only show in vertical menu on small viewports -->
    <a class="item _780lessviewport" href="{{ site.baseurl }}/cup#rules">
      <i class="fa fa-file icon"></i> Regolamento
    </a>
    <a class="item _780lessviewport" href="{{ site.baseurl }}/cup#past-editions">
      <i class="fa-clock-rotate-left icon"></i> Edizioni precedenti
    </a>
    
    <div class="ui simple dropdown right item _780moreviewport" id="cupbutton">
      <i class="fa-solid fa-trophy"></i>
      The Cup
      <i class="dropdown icon"></i>
      <div class="menu">
        <a class="item _780moreviewport" href="{{ site.baseurl }}/cup">
          <i class="fa-solid fa-trophy"></i> La competizione
        </a>
        <a class="item _780moreviewport" href="{{ site.baseurl }}/cup#rules">
          <i class="fa-file icon"></i> Regolamento
        </a>
        <a class="item _780moreviewport" href="{{ site.baseurl }}/cup#past-editions">
          <i class="fa-clock-rotate-left icon"></i> Edizioni precedenti
        </a>
      </div>
    </div>
    <a class="right item" href="{{ site.baseurl }}/emulator" id="emulatorbutton">
      <i class="fa-solid fa-tape"></i> Emulatore
    </a>
    <a class="right item" href="{{ site.baseurl }}/tags" id="tagsbutton">
      <i class="grid layout icon"></i> Tags
    </a>
  </div>
</div>